.backgroundProps {
      background:url("https://media.istockphoto.com/id/1757606871/photo/black-businessman-donating-blood-for-people-in-need-in-bright-hospital-female-nurse-with.jpg?s=612x612&w=0&k=20&c=w3PAMMJqOivqa0Z_v21eSIg6MnJD-k-iFeLEwMbKuCE=") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}